.Layout {
  width: 100vw;
  height: 100vh;
  background-color: mintcream;
  color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}
