.Button {
  width: 160px;
  height: 40px;
  background-color: #3498db;
  border-radius: 4px;
  border: 1px solid #2980b9;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
